mat-grid-tile {
  background: lightgray;
}

.page {
  background-color: rgb(246, 246, 246);
}

.page-content {
  padding: 5rem;
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.add-student {
  display: grid;
  grid-template-columns: 1fr 1fr;

  &-button {
    height: 3rem;
  }
}
